---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/25.9366,-80.1942
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - d64b71a
      X-Server-Id:
      - vm-lnx-nids-apiapp3.ncep.noaa.gov
      X-Edge-Request-Id:
      - 818d9c88
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/25.9366,-80.1942",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -80.194199999999995,
                    25.936599999999999
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/25.9366,-80.1942",
                "@type": "wx:Point",
                "cwa": "MFL",
                "forecastOffice": "https://api.weather.gov/offices/MFL",
                "gridId": "MFL",
                "gridX": 109,
                "gridY": 58,
                "forecast": "https://api.weather.gov/gridpoints/MFL/109,58/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/MFL/109,58/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/MFL/109,58",
                "observationStations": "https://api.weather.gov/gridpoints/MFL/109,58/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -80.200667899999999,
                            25.913038
                        ]
                    },
                    "properties": {
                        "city": "Golden Glades",
                        "state": "FL",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 2698.6422064538001
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 13
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/FLZ173",
                "county": "https://api.weather.gov/zones/county/FLC086",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/FLZ173",
                "timeZone": "America/New_York",
                "radarStation": "KAMX"
            }
        }
  recorded_at: Sat, 03 Feb 2024 17:05:57 GMT
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/MFL/109,58/forecast/hourly
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - ffe2d09
      X-Server-Id:
      - vm-lnx-nids-apiapp3.ncep.noaa.gov
      X-Edge-Request-Id:
      - 818da01d
    body:
      encoding: UTF-8
      string: |-
        {
            "@c[...]
