---
http_interactions:
- request:
    method: get
    uri: https://geocoding.geo.census.gov/geocoder/locations/address?benchmark=Public_AR_ACS2023&city=Raleigh&format=json&state=NC&street=902%20Daniels%20St
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":{"input":{"address":{"city":"Raleigh","street":"902 Daniels
        St","state":"NC"},"benchmark":{"isDefault":false,"benchmarkDescription":"Public
        Address Ranges - ACS2023 Benchmark","id":"8","benchmarkName":"Public_AR_ACS2023"}},"addressMatches":[{"tigerLine":{"side":"R","tigerLineId":"636583575"},"coordinates":{"x":-78.65663507332098,"y":35.79621324351497},"addressComponents":{"zip":"27605","streetName":"DANIELS","preType":"","city":"RALEIGH","preDirection":"","suffixDirection":"","fromAddress":"900","state":"NC","suffixType":"ST","toAddress":"998","suffixQualifier":"","preQualifier":""},"matchedAddress":"902
        DANIELS ST, RALEIGH, NC, 27605"}]}}'
  recorded_at: Fri, 02 Feb 2024 18:43:21 GMT
recorded_with: VCR 6.2.0
