-# locals: (forecast:)

- forecast.each do |period|
  .forecast-period
    .forecast-period__date
      = l period.start_time, format: :short
    .forecast-period__temperature
      = period.temperature
      = period.temperature_unit
