-# locals: (cached:, forecast:)

%h3
  Cached:
  = cached.to_s

%h3
  Forecast:

- forecast.each do |period|
  .forecast-period
    .forecast-period__date
      = l period.start_time, format: :short
    .forecast-period__temperature
      = period.temperature
      = period.temperature_unit
